/* NavBar styles */
.btn-navbar {
  padding: 10px 20px; /* Some padding around the navbar */
  width: 100%; /* Ensure the navbar takes up the full width of the screen */
  /* position: relative; */
  margin-top: 10px;
  position: fixed;
  background-color: white; /* Your preferred background color */
  /* color: white; Text color for navbar */
  border-top: 10px solid #dfc7b8;
}
