/* NavBar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  /* position: relative; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  background-color: white;
  border-bottom: 10px solid #dfc7b8;
  margin-bottom: 10px;
}

.logo-container {
  display: flex;
  /* margin: auto 0px; */
  /* padding: auto auto; */
  align-items: center;
}

.logo-container img {
  width: 50px; /* Set a size for your logo */
  height: 50px; /* Set a size for your logo */
  /* margin: auto 0px; */
  /* margin-right: 10px; */
}

.right-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 20px;
}

.right-container a {
  text-decoration: none;
  color: #5b4e4b;
  font-size: 16px;
}

.right-container a:hover {
  color: #846860;
  text-decoration: underline;
}

.right-container button {
  padding: 8px 16px;
  background-color: #bfaf98;
  color: #f1f0e4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-color: #bb9f8b;
}

.right-container button:hover {
  background-color: #846860;
  color: #bfaf98;
}

@media (max-width: 300px) {
  .right-container a {
    display: none;
  }
}
