/* .app {
  width: 100%;
  position: fixed;
} */
/* 
.app {
  display: flex;
  flex-direction: column;
} */
/* 
.main-container {
  flex-grow: 1;
  overflow-y: auto;
} */

/* .btn-navbar {
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  background-color: white;
  border-top: 10px solid #dfc7b8;
  overflow-y: auto;
} */

@font-face {
  font-family: "CookieRun Regular";
  src: url("./assets/CookieRun Regular.ttf");
}
